.marketing {
  margin-top: 8rem;

  &-title {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
  }

  .btn {
    background-color: #e7e9eb !important;
    color: rgb(14, 63, 130) !important;
    box-shadow: none !important;
    margin: 10px auto;
  }
}
