@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
.navbar {
  position: fixed;
  top: 0;
  z-index: 99;
  background-color: #ffff;
  width: 100%;

  .app-bar {
    box-shadow: none;
  }

  .menu-button {
    color: rgb(14, 63, 130);
    display: block;
    margin: 20px 20px;
    font-size: 12px;
    font-weight: 600;
    padding-left: 40px;
    padding-right: 40px;

    &:hover {
      background-color: #e7e9eb !important;
    }
  }

  .active {
    background-color: rgb(14, 63, 130);
    color: white;
  }
}

.layout {
  background-color: #ffff !important;
  border-radius: 0.75rem;
  margin-top: 1rem;
  padding: 0 1rem 1rem 1rem;
}

.shadow-blur {
  box-shadow: inset 0 0 1px 1px hsla(0, 0%, 100%, 0.9),
    0 20px 27px 0 rgba(0, 0, 0, 0.05) !important;
}

.header {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding-top: 5rem;

  &-images {
    display: flex;
    justify-content: space-between;

    img {
      width: auto;
      display: block;
      height: 484px;

      &:nth-child(1) {
        margin-right: 20px;
      }
      &:nth-child(3) {
        margin-left: 20px;
      }
    }
  }

  &-content {
    position: relative;
    max-width: 770px;
    margin: -100px auto 0 auto;
    display: flex;
    justify-content: space-between;

    .quote {
      box-shadow: 0 0 20px #0003 !important;
      padding: 30px;
      height: 230px;
      width: 318px;
      font-size: 14px;
      font-weight: 700;
      background-color: #fffefa;
      position: relative;
      display: flex;

      &:nth-child(2) {
        align-items: end;
      }

      &-tag {
        width: 150px;
        height: 58.1939px;
        transform: translate(-2.84217e-14px, 0px) rotate(0deg);
        opacity: 0.64;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: -20px;
      }

      &-1 {
        transform: rotate(196deg);
        width: fit-content;
        position: absolute;
        right: 30px;
        font-size: 20px;
        font-style: italic;
        top: 30px;
      }

      p {
        margin-top: 40px;
      }

      a {
        position: absolute;
        right: 30px;
        bottom: 30px;
        background-color: rgb(14, 63, 130) !important;
      }

      &-2 {
        transform: rotate(15deg);
        width: fit-content;
        position: absolute;
        left: 30px;
        font-size: 20px;
        font-style: italic;
        top: 30px;
      }

      &-3 {
        transform: rotate(196deg);
        width: fit-content;
        position: absolute;
        right: 30px;
        font-size: 20px;
        font-style: italic;
        bottom: 30px;
      }
    }
  }
}

.project {
  margin-top: 6rem;
  height: 700px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: bottom;
  position: relative;

  &-content {
    margin-left: 40px;
    padding-top: 30px;
    width: 500px;
    font-weight: 700;
    font-size: 18px;
    text-align: justify;
    * {
      color: #fff;
    }

    &__title {
      font-family: "Yellowtail", cursive;
      font-weight: 400;
      font-style: normal;
      font-size: 80px;
    }
  }

  .menu-project {
    position: absolute;
    right: 60px;
    bottom: 50px;
  }
}

.profile {
  margin-top: 2rem;
  padding-top: 2rem;
  // position: relative;
  height: 1850px;
  overflow: hidden;
  max-width: 100%;

  .container {
    display: flex;
    white-space: nowrap;
  }

  .list {
    display: flex;
    align-items: top;
    -webkit-animation: loop 20s infinite linear;
    animation: loop 20s infinite linear;
  }

  .item-txt {
    font-size: 13px;
    line-height: 20px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1em;
    color: #888579;
  }

  .item-d {
    display: inline;
  }

  .item-dot {
    max-width: 10px;
    max-height: 10px;
    margin: 0 10px;
    padding: 2px;
    border-radius: 50%;
    display: inline-block;
    transform: translateY(-2px);
  }

  .dot-r {
    background-color: #888579;
  }

  @keyframes loop {
    100% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }

  &-content {
    text-align: center;
    margin-top: 60px;
    position: relative;

    p {
      width: 550px;
      margin: 0 auto 20px auto;
      font-size: 15px;
      font-weight: 500;
      color: black !important;
    }
  }

  &-img {
    position: absolute;
    cursor: pointer;

    img {
      display: block;
      overflow-clip-margin: content-box;
      overflow: clip;
    }
  }

  .img {
    &-1 {
      width: 270px;
      top: 7rem;
      left: 0;
    }

    &-2 {
      width: 270px;
      top: 0rem;
      right: 1rem;
    }

    &-3 {
      width: 120px;
      top: 1rem;
      right: 0;
    }

    &-4 {
      width: 120px;
      top: 23rem;
      left: 25rem;
    }

    &-5 {
      width: 40px;
      top: 22rem;
      left: 32rem;
    }

    &-6 {
      position: absolute;
      top: 25rem;
      right: 19rem;

      width: 150.971px;
      height: 134.598px;

      &__box {
        width: 280.257px;
        height: 349.929px;
        transform: translate(-1.13687e-13px, -25.8738px) rotate(0deg);
      }
    }

    &-7 {
      width: 300px;
      top: 28rem;
      left: 8rem;
    }

    &-9 {
      width: 220px;
      top: 33rem;
      left: 26rem;
    }

    &-8 {
      width: 96px;
      top: 41rem;
      right: 20rem;
    }

    &-10 {
      width: 240px;
      top: 34rem;
      right: 2rem;
    }

    &-11 {
      width: 137px;
      top: 24rem;
      right: 0rem;
    }

    &-12 {
      width: 294px;
      top: 56rem;
      right: 26rem;
    }

    &-13 {
      width: 351px;
      top: 57rem;
      right: 4rem;
    }

    &-14 {
      position: absolute;
      top: 48rem;
      left: 1rem;
      width: 74.7072px;
      height: 88.7807px;
      transform: translate(92.393px, 1055.45px);

      .image-edited__box {
        transform: translate(-81.7832px, -230.75px) rotate(0deg);
      }
    }

    &-15 {
      position: absolute;
      top: 39rem;
      left: 6rem;
      width: 129.646px;
      height: 114.783px;
      transform: translate(167.1px, 917.687px);

      .image-edited__box {
        transform: translate(-35.4105px, -20.2346px) rotate(0deg);
      }
    }

    &-16 {
      position: absolute;
      top: 48rem;
      left: 16rem;
      width: 97.5225px;
      height: 95.7324px;
      transform: translate(357.578px, 1021.49px);

      .image-edited__box {
        transform: translate(-73.9591px, -135.017px) rotate(0deg);
      }
    }

    &-17 {
      position: absolute;
      top: 55rem;
      left: 8rem;
      width: 149.123px;
      height: 101.63px;
      transform: translate(205.216px, 1166.42px);

      .image-edited__box {
        transform: translate(-67.3316px, -313.935px) rotate(0deg);
      }
    }

    &-18 {
      position: absolute;
      top: 66rem;
      left: 3rem;

      width: 172.761px;
      height: 168.914px;

      &__box {
        width: 280.257px;
        height: 349.929px;
        transform: translate(-82.0873px, -165.57px) rotate(0deg);
      }
    }

    &-19 {
      width: 350px;
      top: 81rem;
      left: 2rem;
    }

    &-20 {
      width: 350px;
      top: 88rem;
      left: 24rem;
    }

    &-21 {
      width: 288px;
      top: 78rem;
      right: 10rem;
    }

    &-22 {
      width: 332px;
      top: 81rem;
      right: 1rem;
    }
  }

  .image-edited {
    img {
      object-fit: fill;
      height: 100%;
    }

    &__box {
      width: 238.376px;
      height: 432.428px;
    }
  }
}

.contact {
  padding-top: 12rem;
  padding-bottom: 12rem;

  &-title {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 5rem !important;
  }

  &-content__title {
    font-weight: 700;
    font-style: italic;
    color: rgb(115, 115, 115);
    font-size: 18px;
  }

  &-content__info {
    font-size: 18px;
    font-weight: 700;
  }

  &-link {
    text-decoration: none;
    transition: all 0.3s;

    &:hover {
      text-decoration: underline;
      padding-left: 5px;
    }
  }

  &-title,
  &-content__info,
  .click {
    color: black !important;
  }

  &-content > div {
    margin: 30px auto;
  }

  .click {
    font-size: 18px;
    font-weight: 700;
    margin-top: 3rem;
  }

  &-button {
    display: flex;
    align-items: center;

    a {
      border-radius: unset !important;
      background-color: rgb(14, 63, 130) !important;
      text-transform: none;
      font-size: 15px;
    }
  }
}

.contact,
.profile {
  padding-left: 24px;
  padding-right: 24px;
}

.mobile {
  padding-left: 2rem;
  padding-right: 2rem;

  &-view {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  &-view > div {
    margin-top: auto;
  }

  &-footer {
    margin-top: auto;
  }

  h1,
  .contact-button {
    text-transform: uppercase;
  }

  * {
    text-align: center;
  }

  .contact-button {
    justify-content: center;
    margin-top: 2rem;
  }

  p {
    font-size: 15px;
    font-weight: 700;
  }
}

@media only screen and (max-width: 576px) {
  .header {
    padding-top: 4rem;

    &-images {
      img {
        &:nth-child(1) {
          margin-right: 0;
          height: auto;
          width: 100%;
        }
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          display: none;
        }
      }
    }

    &-content {
      display: none;
      // .quote {
      //   height: 230px;
      //   width: 40%;
      //   margin: 10px;
      //   padding: 10px;

      //   &:nth-child(2) {
      //     align-items: center;
      //   }
      // }
    }
  }

  .project {
    height: 340px;
    margin-top: 3rem;
    padding-bottom: 2rem;

    .slide {
      height: auto;
    }

    .react-multi-carousel-dot {
      button {
        border-radius: unset !important;
        width: 40px;
        margin: 0;
        border: unset;
        height: 2px;
        background-color: rgb(190, 190, 190);
      }
    }

    .react-multi-carousel-dot--active {
      button {
        background-color: rgb(32, 25, 25);
      }
    }
  }

  .contact {
    padding-top: 3rem;
    padding-bottom: 3rem;

    &-content > div {
      margin: 10px auto !important;
    }

    &-link {
      font-size: 12px !important;
    }

    &-content__info {
      font-size: 14px;
    }

    &-content__title {
      font-size: 13px;
    }
  }

  // .react-multi-carousel-item {
  //   // width: 224px !important;
  //   margin-left: 10px;
  // }
}
